Repository 88labs/go-utils, pull requests merged in 2023-02, with the labels that each got.

#63 feat: envlookup add LookUpBool
  envlookup/envlookup.go
  envlookup/envlookup_test.go
  envlookup/go.sum
Labels: lib:envlookup, feature

#64 feat: awss3 add DeleteObject()
  aws/awss3/awss3.go
  aws/awss3/awss3_test.go
Labels: lib:aws, feature

#73 enhancement: aws module update
  aws/go.mod
  aws/go.sum
Labels: enhancement, lib:aws

#77 feat: s3 presign: add option
  aws/awss3/awss3.go
  aws/awss3/awss3_test.go
  aws/awss3/options/s3presigned/s3_presigned.go
Labels: lib:aws, feature

#78 enhancement: update go1.20
  .github/workflows/test-aws.yaml
  .github/workflows/test-cerrors.yaml
  .github/workflows/test-envlookup.yaml
  .github/workflows/test-utf8bom.yaml
  README.md
  Taskfile.yaml
  aws/README.md
  aws/go.mod
  cerrors/go.mod
  envlookup/go.mod
  errgroup/go.mod
  osext/go.mod
  sql-escape/go.mod
  tspb_cast/go.mod
  ulid/go.mod
  utf8bom/go.mod
  utf8bom/go.sum
Labels: documentation, enhancement, github, lib:aws, lib:cerrors, lib:envlookup, lib:utf8bom, lib:errgroup, lib:osext, lib:sql-escape, lib:tspb_cast, lib:ulid

#86 [breaking change] rename awssqs SentMessage -> SendMessage
  aws/awssqs/awssqs.go
  aws/awssqs/awssqs_test.go
Labels: chore, lib:aws, Breaking Change

#91 feat: SendMessageGob(), ReceiveMessageGob()
  aws/awssqs/awssqs.go
  aws/awssqs/awssqs_test.go
Labels: lib:aws, feature

#93 feat: awss3 add ErrNotFound error
  aws/awss3/awss3.go
  aws/awss3/awss3_test.go
Labels: lib:aws, feature

#94 feat: awss3 Head waiter
  aws/awss3/awss3.go
  aws/awss3/awss3_test.go
  aws/awss3/options/s3head/s3_head.go
Labels: lib:aws, feature

#109 chore: ctxawslocal add SessionToken
  aws/awss3/client.go
  aws/awssqs/client.go
  aws/ctxawslocal/ctxawslocal_test.go
  aws/ctxawslocal/options.go
Labels: chore, lib:aws

#110 enhancement: update modules
  .github/release-drafter-aws.yml
  .github/release-drafter-cerrors.yml
  .github/release-drafter-envlookup.yml
  .github/release-drafter-errgroup.yml
  .github/release-drafter-osext.yml
  .github/release-drafter-sql-escape.yml
  .github/release-drafter-tspb_cast.yml
  .github/release-drafter-ulid.yml
  .github/release-drafter-utf8bom.yml
  Taskfile.yaml
  aws/go.mod
  aws/go.sum
  envlookup/go.mod
  envlookup/go.sum
Labels: enhancement, github, lib:aws, lib:envlookup

#111 feat: awscognito GetCredentialsForIdentity
  aws/awscognito/awscognito.go
  aws/awscognito/client.go
  aws/ctxawslocal/ctxawslocal_test.go
  aws/ctxawslocal/options.go
  aws/go.mod
  aws/go.sum
Labels: lib:aws, feature

#112 feat: awscognito GetCredentialsForIdentity
  aws/awscognito/awscognito.go
  aws/awscognito/client.go
Labels: lib:aws, feature

#113 feat: awscognito GetCredentialsForIdentity
  aws/awscognito/awscognito.go
Labels: lib:aws, feature

#114 Feat awscognito getcredentials
  aws/awscognito/awscognito.go
  aws/awscognito/client.go
Labels: lib:aws, feature
